fastapi
uvicorn
langchain
langchain-community
chromadb
#deepseek
python-docx
pymupdf
pandas
openpyxl
pillow
pytesseract
python-multipart
huggingface-hub
pyinstaller

# Para HuggingFace local pipelines y embeddings
torch
transformers
sentence-transformers # Para HuggingFaceEmbeddings
accelerate # Recomendado para carga eficiente de modelos grandes